
* {
  margin: 0px;
  padding: 0px;
}

/*ヘッダー*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  height: 60px;
}

.header-title {
  font-size: 20px;
  color: #6699FF
}

/*ボディ*/

.intro-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.operator-box {
  height: 100%;
}

.operator {
  position: relative;
  top: 210px;
  font-size: 40px;
  font-weight: bold;
}


.body-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 440px;
  background-color: #6699FF;
}

.selected-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 33%;
}



.selected-img-text {
  font-weight: bold;
  color: #FFF;
  width: 50%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.display-img {
  height: 340px;
  box-shadow: 0 0 8px #000;
}

/*ボタン*/

.button-items-box {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
}

.button-item {
  margin: 5px 0;
  padding: 3px 30px;
  background-color: #0066FF;
  color: #FFF;
  box-shadow: 0 0 4px #000;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.button-item:hover {
  box-shadow: none;
  background-color: #FFF;
  color: #0066FF;
  border: 1px solid #0066FF;
}

.upload-form {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.form-button {
  width: 210px;
  margin: 5px 0;
}

/*モーダル*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.modal-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 8%;
  right: 0;
  left: 0;
  width: 50%;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-close-btn {
  margin: 10px;
  width: 90px;
  height: 30px;
  border-radius: 8px;
  font-size: 20px;
}

.modal-style-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-style-title {
  font-size: 20px;
  margin: 5px;
}

.modal-style-img {
  width: 70%;
}
