<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ImageChanger-画像スタイル変換サービス</title>
</head>
<body>

  <nav class="navbar">
    <p class="nav-title">ImageChanger-画像スタイル変換サービス</p>
  </nav>

  <div class="container-main">

    <div class="main">
      <p>サンプル</p>
    </div>

    <div class="container-button">
      <form action="/post" method="post" class="form-inline" enctype="multipart/form-data">
        <input type="file" name="file-submit"/>
        <div>
          <button type="submit" class="submit-btn">画像をアップロード</button>
        </div>
      </form>
    </div>

  </div>

</body>
</html>
