<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="../src/css/index_style.css">
  <title>ImageChanger-画像スタイル変換サービス</title>
</head>
<body>
  <div class="container-main">

    <div class="main" id="root">
    </div>

<!--
    <div class="container-button">
      <form action="/post" method="post" class="form-inline" enctype="multipart/form-data">
        <input type="file" name="file-submit"/>
        <div>
          <button type="submit" class="submit-btn">画像をアップロード</button>
        </div>
      </form>
    </div>
-->

  </div>
  <script src="/src/bundle.js"></script>
  <!--<script type="text/javascript" src="/src/index.js"></script>-->


</body>
</html>
